.gal-img
{
    height: 280px;
    width: 400px;
    transition: all 0.3s;
    min-height: 140px;
    min-width: 200px; 
    border-radius: 3rem;
}

.div-gal
{
    display: flex;
    gap: 3rem;
    padding: 2rem 0 0;
    justify-content: center;
    flex-wrap: wrap;
}

.gal-img:hover
{
    
    transform: scale(1.2);

}