*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root
{
--text-color: rgb(245, 185, 20);
--header-color: rgb(143, 15, 68);
--title-font:  'Ewert', sans-serif;
--alternative-color: rgb(158, 60, 18);
--background-color: rgb(236, 223, 192);
--bttn-border: rgb(101, 72, 61);
--bttn-color: rgb(28,87,73);
}

body
{
    display: flex;
    flex-direction:column;
    background-color:var(--background-color);
    color:rgb(235, 175, 10);
    min-height: 100vh;
    line-height: 1.6;
}

header
{
    background-color: var(--header-color);
    position:sticky;
     z-index: 5;
     top:0;
     padding: 2.3rem;
}


.nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}

.logo
{
    
    font-size:3rem;
    font-weight: 500; 
    font-family: var(--title-font);

}

.menus
{
    transition: all 0.2s ease-in-out;
}

.list
{
    display:flex;
    list-style: none;
    gap:4rem;
    padding: 1rem;
    min-width: 0;
    max-width: 100;
    font-size: 1.5rem;
}
 
a
{
    text-decoration: none;
    color: inherit;
}

h1
{
    font-family: var(--title-font);
}

footer
{
    background-color: var(--header-color);
    margin-top:auto;
    text-align: center;
justify-items: center;
padding:2rem;
}

footer > ul
{
    display: flex;
    list-style:none;
    gap:3rem;
}

@media (max-width: 768px)
{
    .nav
    {
        flex-direction: column;
        text-align: center;
    }
    .logo
    {
        font-size: 2.5rem;
    }
    .list  
    {
        flex-direction: row;
        gap: 0.5rem;
        font-size: 0.8rem;
    }
    .footer-list
     {flex-direction: row;
        gap: 1.2rem;
        font-size: 0.8rem;
}
    }

.menus:hover
    {
        color: var(--text-color);
        transform: scale(1.1);
        color: var(--alternative-color);
    }

    @media (max-width: 1260px)
    {
        footer
        {
            
        margin-top: auto
        }
    }
    
