.main-section {
    max-width: 80vw;
    min-width: 0;
    margin: 0 auto;
    max-height: 100vw;
    flex: 1;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem ;
    padding:  2rem;
    min-width: 0;
    
    
}

.card {
    background-color: var(--header-color);
    max-width: 300px;
    border-radius: 2rem;
    box-shadow: 0 10px 8px rgba(235, 155, 36, 0.459);
    min-width: 0;
    font-size: 1.2rem;
    gap: 3rem 0 0;
    text-align: center;
    height: 30rem;
    transition: all 0.3s ease-out ;
}
.card-img {
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    min-width: 0;
    overflow: hidden;
    object-fit: fill;
    max-height: 10.5rem;
}

.bttn-r
{
    background-color: var(--bttn-color);
   display: inline-block;
    font-size: 1.2rem;
    border: 3px solid var(--bttn-border);
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    margin: 1.5rem 0 0;
    padding: 0.7rem;
}

.bttn-r:hover
{
    background-color: var(--bttn-border);
    color: var(--background-color);
    transform: scale(1.1);
}

.card:hover
{
    transform: scale(1.1);
    
}


